# Group 5
Plugins>Neuron Cell Processing, "Segmentation", neuron.Segmentation
Plugins>Neuron Cell Processing, "CED", CED.Canny_Edge_Detector
#Plugins>Neuron Cell Processing, "GHT", CED.GHT_
Plugins>Neuron Cell Processing, "GHT", ght.General_Hough_Transform
# Plugins>Neuron Cell Processing, "Classification", neuron.Classification
